<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="css/stylehome.css">

<body>
    <div class="details">

        <div class="text">
            <h3>Aryan Sharma</h3>
            <h4>CSE Undergraduate - Junior Web Developer</h4>
            <h4>Email : aryanhere10@gmail.com</h4>
            <h4>Mobile : +918493818500</h4>
        </div>

        <img class="userimg" src="images/WhatsApp Image 2025-05-12 at 22.26.18_6f260485.jpg" alt="Profile">

    </div>
    <div class="social-card">

        <a href="https://www.instagram.com/aryannshxrma/" target="_blank" class="social-item">
            <img src="images\images (1).jpg" alt="Instagram">
            <span>Instagram</span>
        </a>

        <a href="https://github.com/aryanxwork" target="_blank" class="social-item">
            <img src="images\github-logo-png_seeklogo-304612.png" alt="GitHub">
            <span>GitHub</span>
        </a>

        <a href="https://www.linkedin.com/in/aryanxworkk/" target="_blank" class="social-item">
            <img src="images\images.jpg" alt="LinkedIn">
            <span>LinkedIn</span>
        </a>

        <a href="https://leetcode.com/u/aryan-2110/" target="_blank" class="social-item">
            <img src="images\LeetCode_logo_black.png" alt="Leetcode">
            <span>Leetcode</span>
        </a>

    </div>


    <div class="navcard">

        <a href="/" class="active">Home</a>

        <a href="/projects">Projects</a>

        <a href="/posts">All Posts</a>

        <a href="/timeline">Timeline</a>

    </div>


    <div class="updates">

        <h2>LATEST UPDATES</h2>

        <% for(let i=0; i < Math.min(5, posts.length); i++) { %>

            <div class="post">

                <div class="post-content">

                    <h4>
                        <%= posts[i].title %>
                    </h4>

                    <p class="date">
                        <%= posts[i].date %>
                    </p>

                    <p class="post-desc">
                        <%= posts[i].desc %>
                    </p>

                </div>

                <a href="/post/<%= posts[i].id %>" class="read-btn">
                    Read →
                </a>

            </div>

            <% } %>

    </div>
    <script src="/js/home.js"></script>
</body>

</html>